


	<p>Nombre: <%= @layout.nombre%></p>
	<p>Email: <%= @layout.email%></p>
	<p>Celular: <%= @layout.celular%></p>
	<p>Estado de Residencia: <%= @layout.estadoderesidencia %></p>
	<p>Edad de Titular: <%= @layout.edadetitular %></p>
	<p>Edad de Conyugue: <%= @layout.edaddeconyugue %></p>
	<p>Num de hijos con edad de 24 y menores: <%= @layout.numdehijosconedadde24ymenores %></p>
	<p>Forma de pago: <%= @layout.formadepago%></p> 
	<p>Edad de Hijo 1 mayor a 24: <%= @layout.edaddehijo1mayora24 %></p> 
	<p>Edad de Hijo 2 mayor a 24: <%= @layout.edaddehijo2mayora24 %></p>
	<p>Edad de Hijo 3 mayor a 24: <%= @layout.edaddehijo3mayora24 %></p>
	<p>Edad de Hijo 4 mayor a 24: <%= @layout.edaddehijo4mayora24 %></p> 
	<p>Edad del padre del titular: <%= @layout.edaddelpadredeltitular %></p> 
	<p>Edad de la madre del titular:<%= @layout.edaddelamadredeltitular %></p> 
	<p>Edad de la suegra del titular:<%= @layout.edaddelasuegradeltitular %></p>
	<p>Edad del suegro del titular:<%= @layout.edaddelasuegrodeltitular %></p>