<%= form_for(@aglayout) do |f| %>
  <% if @aglayout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aglayout.errors.count, "error") %> prohibited this aglayout from being saved:</h2>

      <ul>
      <% @aglayout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
