<h1>Listing aglayouts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aglayouts.each do |aglayout| %>
  <tr>
    <td><%= link_to 'Show', aglayout %></td>
    <td><%= link_to 'Edit', edit_aglayout_path(aglayout) %></td>
    <td><%= link_to 'Destroy', aglayout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aglayout', new_aglayout_path %>
