<%= form_for(@lookup_table_precio) do |f| %>
  <% if @lookup_table_precio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lookup_table_precio.errors.count, "error") %> prohibited this lookup_table_precio from being saved:</h2>

      <ul>
      <% @lookup_table_precio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :producto %><br />
    <%= f.text_field :producto %>
  </div>
  <div class="field">
    <%= f.label :zona %><br />
    <%= f.number_field :zona %>
  </div>
  <div class="field">
    <%= f.label :edad %><br />
    <%= f.number_field :edad %>
  </div>
  <div class="field">
    <%= f.label :llave %><br />
    <%= f.text_field :llave %>
  </div>
  <div class="field">
    <%= f.label :pan_mx_i %><br />
    <%= f.text_field :pan_mx_i %>
  </div>
  <div class="field">
    <%= f.label :pan_mx_ii %><br />
    <%= f.text_field :pan_mx_ii %>
  </div>
  <div class="field">
    <%= f.label :pan_mx_iii %><br />
    <%= f.text_field :pan_mx_iii %>
  </div>
  <div class="field">
    <%= f.label :pan_mx_iv %><br />
    <%= f.text_field :pan_mx_iv %>
  </div>
  <div class="field">
    <%= f.label :pan_mx_v %><br />
    <%= f.text_field :pan_mx_v %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
