<h1>Listing lookup_table_precios</h1>

<table>
  <tr>
    <th>Producto</th>
    <th>Zona</th>
    <th>Edad</th>
    <th>Llave</th>
    <th>Pan_mx_i</th>
    <th>Pan_mx_ii</th>
    <th>Pan_mx_iii</th>
    <th>Pan_mx_iv</th>
    <th>Pan_mx_v</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lookup_table_precios.each do |lookup_table_precio| %>
  <tr>
    <td><%= lookup_table_precio.producto %></td>
    <td><%= lookup_table_precio.zona %></td>
    <td><%= lookup_table_precio.edad %></td>
    <td><%= lookup_table_precio.llave %></td>
    <td><%= lookup_table_precio.pan_mx_i %></td>
    <td><%= lookup_table_precio.pan_mx_ii %></td>
    <td><%= lookup_table_precio.pan_mx_iii %></td>
    <td><%= lookup_table_precio.pan_mx_iv %></td>
    <td><%= lookup_table_precio.pan_mx_v %></td>
    <td><%= link_to 'Show', lookup_table_precio %></td>
    <td><%= link_to 'Edit', edit_lookup_table_precio_path(lookup_table_precio) %></td>
    <td><%= link_to 'Destroy', lookup_table_precio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lookup table precio', new_lookup_table_precio_path %>
