<p id="notice"><%= notice %></p>

<p>
  <b>Producto:</b>
  <%= @lookup_table_precio.producto %>
</p>

<p>
  <b>Zona:</b>
  <%= @lookup_table_precio.zona %>
</p>

<p>
  <b>Edad:</b>
  <%= @lookup_table_precio.edad %>
</p>

<p>
  <b>Llave:</b>
  <%= @lookup_table_precio.llave %>
</p>

<p>
  <b>Pan_mx_i:</b>
  <%= @lookup_table_precio.pan_mx_i %>
</p>

<p>
  <b>Pan_mx_ii:</b>
  <%= @lookup_table_precio.pan_mx_ii %>
</p>

<p>
  <b>Pan_mx_iii:</b>
  <%= @lookup_table_precio.pan_mx_iii %>
</p>

<p>
  <b>Pan_mx_iv:</b>
  <%= @lookup_table_precio.pan_mx_iv %>
</p>

<p>
  <b>Pan_mx_v:</b>
  <%= @lookup_table_precio.pan_mx_v %>
</p>


<%= link_to 'Edit', edit_lookup_table_precio_path(@lookup_table_precio) %> |
<%= link_to 'Back', lookup_table_precios_path %>
