<div class="headliner2">
  <h1 class="headlinertext2">REALIZA UNA COTIZACIÓN</h1>
</div>
<div class="form-main">


<%= simple_form_for @layout  do |f| %>
    <%=f.input :nombre, label: 'Nombre', :required => true %>
    <%=f.input :celular, label: 'Celular', :required => true %>
    <%=f.input :email, label: 'Email', :required => true %>
    <%= f.input :estadoderesidencia, label: 'Estado de Residencia', :collection => ["Aguascalientes",
"Baja California (Ensenada)",
"Baja California (Mexicalli)",
"Baja California (Playas de Rosarito)",
"Baja California (Rodolfo Sánchez T.  (Maneadero))",
"Baja California (San Felipe)",
"Baja California (Tecate)",
"Baja California (Tijuana)",
"Baja California (OTRAS CIUDADES)",
"Baja California Sur",
"Campeche",
"Chiapas",
"Chihuahua (Juárez)",
"Chihuahua (Manuel Ojinaga)",
"Chihuahua (OTRAS CIUDADES)",
"Coahuila (Ciudad Acuña)",
"Coahuila (Matamoros)",
"Coahuila (Piedras Negras)",
"Coahuila (OTRAS CIUDADES)",
"Colima",
"Distrito Federal(y área metropolitana)",
"Durango",
"Estado de México(excepto área metropolitana)",
"Guanajuato",
"Guerrero(Acapulco)",
"Guerrero(Zihuatanejo)",
"Guerrero(OTRAS CIUDADES)",
"Hidalgo",
"Jalisco",
"Michoacán",
"Morelos",
"Nayarit",
"Nuevo León (Anáhuac)",
"Nuevo León (OTRAS CIUDADES)",
"Oaxaca",
"Puebla",
"Querétaro",
"Quintana Roo",
"San Luis Potosí",
"Sinaloa",
"Sonora (Agua Prieta)",
"Sonora (Caborca)",
"Sonora (Ciudad de Cananea)",
"Sonora (Nogales)",
"Sonora (Puerto Peñasco)",
"Sonora (San Luis Río Colorado)",
"Sonora (Sonoita)",
"Sonora (OTRAS CIUDADES)",
"Tabasco",
"Tamaulipas (Ciudad Camargo)",
"Tamaulipas (Ciudad Gustavo Díaz Ordaz)",
"Tamaulipas (Ciudad Miguel Alemán)",
"Tamaulipas (Ciudad Río Bravo)",
"Tamaulipas (Nueva Ciudad Guerrero)",
"Tamaulipas (Nuevo Laredo)",
"Tamaulipas (Reynosa)",
"Tamaulipas (Valle Hermoso)",
"Tamaulipas (OTRAS CIUDADES)",
"Tlaxcala",
"Veracruz",
"Yucatán",
"Zacatecas"], :required => true%>


    <%= f.input :edadetitular, label: 'Edad del titular', :collection =>(18..99), :required => true%> 
    <%=f.input :edaddeconyugue, label: 'Edad de conyugue', :collection =>(18..99)%>
    <%=f.input :numdehijosconedadde24ymenores, label: 'Numero de hijos con edad de 24 y menores', :collection =>(0..8)%> 
    <%=f.input :formadepago, label: 'Forma de Pago', :collection =>["Anual","Semestral","Trimestral"], :required => true%> 
    <%=f.input :edaddehijo1mayora24, label: 'Edad de hijo 1 mayor a 24', :collection =>(25..99)%> 
    <%=f.input :edaddehijo2mayora24, label: 'Edad de hijo 2 mayor a 24', :collection =>(25..99)%> 
    <%=f.input :edaddehijo3mayora24, label: 'Edad de hijo 3 mayor a 24', :collection =>(25..99)%> 
    <%=f.input :edaddehijo4mayora24, label: 'Edad de hijo 4 mayor a 24', :collection =>(25..99)%> 
    <%=f.input :edaddelpadredeltitular, label: 'Edad del padre del titular', :collection =>(25..99)%> 
    <%=f.input :edaddelamadredeltitular, label: 'Edad de la madre del titular', :collection =>(25..99)%> 
    <%=f.input :edaddelasuegradeltitular, label: 'Edad de la suegra del titular', :collection =>(25..99)%> 
    <%=f.input :edaddelasuegrodeltitular , label: 'Edad del suegro del titular', :collection =>(25..99)%>
    <%=f.input :viajes, label: '¿Cuántos viajes fuera de México realiza al año?', :collection => ['0','1','2','3', '4 o más'], :required => true%>
    <%=f.input :cashemergencia, label: 'En caso de una emergencia médica, ¿con cuánto dinero dispone al momento del incidente? ', :collection => ['$10,000 - $30,000 MXN', '$50,000 - $75,000 MXN', '$100,000 MXN o más' ], :required => true %>

	
	<%= f.button :submit, "Enviar" %>
<% end %>
</div>


