<h1>COTIZACIÓN DE SEGURO DE GASTOS MÉDICOS INTERNACIONAL INDIVIDUAL / FAMILIAR BUPA</h1>
<p>Cotización para: <%=@layout.nombre%></p>
<p>Estado de Residencia: <%=@layout.estadoderesidencia%></p>
<p>Edad del Solicitante: <%=@layout.edadetitular%></p>
<p>Edad del Cónyugue: <%=@layout.edaddeconyugue%></p>
<p>No. dependientes: </p>
<p>Forma de Pago: <%=@layout.formadepago %></p>
<p>Zona de Emisión: <%=@zona %> </p>

<style type="text/css"> td{ text-align: center;} table, th, td {
   border: 1px solid black;
}</style>
<table>
    <tr><th>Producto</th><th>Deducible (dentro del país)</th><th>Deducible (fuera del país)</th><th>Titular</th><th>Cónyugue</th><th>Dependientes</th><th>Cob. Adicionales</th><th>Tarifa Total</th><th>Derecho a póliza</th><th>RPF</th><th>Prima Neta</th><th>IVA</th><th>Prima Anual</th><th>Primer Recibo</th><th>Recibos Subsecuentes</th></tr>

    <tr><td>&nbsp;</td><td>USD 1,000</td><td>USD 2,000</td><td><%= number_to_currency @titulardiamondplan1%></td><td><%= number_to_currency @conyuguediamondplan1%></td><td><%= number_to_currency @dependientesdiamondplan1%></td><td> <%= number_to_currency @cobrosadicionalesdiamondplan1 %> </td><td><%= number_to_currency @tarifatotaldiamondplan1%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetadiamondplan1%></td><td><%= number_to_currency @ivadiamondplan1%></td><td><%= number_to_currency @primaanualdiamondplan1%></td><td><%= number_to_currency @primerrecibodiamondplan1%></td><td><%= number_to_currency @recibossubsequentesdiamondplan1%></td></tr>

    <tr><td>&nbsp;</td><td>USD 2,000</td><td>USD 3,000</td><td><%= number_to_currency @titulardiamondplan2%></td><td><%= number_to_currency @conyuguediamondplan2%></td><td><%= number_to_currency @dependientesdiamondplan2%></td><td> <%= number_to_currency @cobrosadicionalesdiamondplan2 %>  </td><td><%= number_to_currency @tarifatotaldiamondplan2%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetadiamondplan2%></td><td><%= number_to_currency @ivadiamondplan2%></td><td><%= number_to_currency @primaanualdiamondplan2%></td><td><%= number_to_currency @primerrecibodiamondplan2%></td><td><%= number_to_currency @recibossubsequentesdiamondplan2%></td></tr>

    <tr><td>DIAMOND</td><td>USD 5,000</td><td>USD 5,000</td><td><%= number_to_currency @titulardiamondplan3%></td><td><%= number_to_currency @conyuguediamondplan3%></td><td><%= number_to_currency @dependientesdiamondplan3%></td><td><%= number_to_currency @cobrosadicionalesdiamondplan3 %> </td><td><%= number_to_currency @tarifatotaldiamondplan3%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetadiamondplan3%></td><td><%= number_to_currency @ivadiamondplan3%></td><td><%= number_to_currency @primaanualdiamondplan3%></td><td><%= number_to_currency @primerrecibodiamondplan3%></td><td><%= number_to_currency @recibossubsequentesdiamondplan3%></td></tr>

    <tr><td>&nbsp;</td><td>USD 10,000</td><td>USD 10,000</td><td><%= number_to_currency @titulardiamondplan4%></td><td><%= number_to_currency @conyuguediamondplan4%></td><td><%= number_to_currency @dependientesdiamondplan4%></td><td><%= number_to_currency @cobrosadicionalesdiamondplan4 %> </td><td><%= number_to_currency @tarifatotaldiamondplan4%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetadiamondplan4%></td><td><%= number_to_currency @ivadiamondplan4%></td><td><%= number_to_currency @primaanualdiamondplan4%></td><td><%= number_to_currency @primerrecibodiamondplan4%></td><td><%= number_to_currency @recibossubsequentesdiamondplan4%></td></tr>

    <tr><td>&nbsp;</td><td>USD 20,000</td><td>USD 20,000</td><td><%= number_to_currency @titulardiamondplan5%></td><td><%= number_to_currency @conyuguediamondplan5%></td><td><%= number_to_currency @dependientesdiamondplan5%></td><td><%= number_to_currency @cobrosadicionalesdiamondplan5 %> </td><td><%= number_to_currency @tarifatotaldiamondplan5%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetadiamondplan5%></td><td><%= number_to_currency @ivadiamondplan5%></td><td><%= number_to_currency @primaanualdiamondplan5%></td><td><%= number_to_currency @primerrecibodiamondplan5%></td><td><%= number_to_currency @recibossubsequentesdiamondplan5%></td></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>

    <tr><td>&nbsp;</td><td>USD 1,000</td><td>USD 2,000</td><td><%= number_to_currency @titularcompleteplan1%></td><td><%= number_to_currency @conyuguecompleteplan1%></td><td><%= number_to_currency @dependientescompleteplan1%></td><td> <%= number_to_currency @cobrosadicionalescompleteplan1 %> </td><td><%= number_to_currency @tarifatotalcompleteplan1%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetacompleteplan1%></td><td><%= number_to_currency @ivacompleteplan1%></td><td><%= number_to_currency @primaanualcompleteplan1%></td><td><%= number_to_currency @primerrecibocompleteplan1%></td><td><%= number_to_currency @recibossubsequentescompleteplan1%></td></tr>

    <tr><td>&nbsp;</td><td>USD 2,000</td><td>USD 3,000</td><td><%= number_to_currency @titularcompleteplan2%></td><td><%= number_to_currency @conyuguecompleteplan2%></td><td><%= number_to_currency @dependientescompleteplan2%></td><td> <%= number_to_currency @cobrosadicionalescompleteplan2 %>  </td><td><%= number_to_currency @tarifatotalcompleteplan2%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetacompleteplan2%></td><td><%= number_to_currency @ivacompleteplan2%></td><td><%= number_to_currency @primaanualcompleteplan2%></td><td><%= number_to_currency @primerrecibocompleteplan2%></td><td><%= number_to_currency @recibossubsequentescompleteplan2%></td></tr>

    <tr><td>COMPLETE</td><td>USD 5,000</td><td>USD 5,000</td><td><%= number_to_currency @titularcompleteplan3%></td><td><%= number_to_currency @conyuguecompleteplan3%></td><td><%= number_to_currency @dependientescompleteplan3%></td><td><%= number_to_currency @cobrosadicionalescompleteplan3 %> </td><td><%= number_to_currency @tarifatotalcompleteplan3%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetacompleteplan3%></td><td><%= number_to_currency @ivacompleteplan3%></td><td><%= number_to_currency @primaanualcompleteplan3%></td><td><%= number_to_currency @primerrecibocompleteplan3%></td><td><%= number_to_currency @recibossubsequentescompleteplan3%></td></tr>

    <tr><td>&nbsp;</td><td>USD 10,000</td><td>USD 10,000</td><td><%= number_to_currency @titularcompleteplan4%></td><td><%= number_to_currency @conyuguecompleteplan4%></td><td><%= number_to_currency @dependientescompleteplan4%></td><td><%= number_to_currency @cobrosadicionalescompleteplan4 %> </td><td><%= number_to_currency @tarifatotalcompleteplan4%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetacompleteplan4%></td><td><%= number_to_currency @ivacompleteplan4%></td><td><%= number_to_currency @primaanualcompleteplan4%></td><td><%= number_to_currency @primerrecibocompleteplan4%></td><td><%= number_to_currency @recibossubsequentescompleteplan4%></td></tr>

    <tr><td>&nbsp;</td><td>USD 20,000</td><td>USD 20,000</td><td><%= number_to_currency @titularcompleteplan5%></td><td><%= number_to_currency @conyuguecompleteplan5%></td><td><%= number_to_currency @dependientescompleteplan5%></td><td><%= number_to_currency @cobrosadicionalescompleteplan5 %> </td><td><%= number_to_currency @tarifatotalcompleteplan5%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetacompleteplan5%></td><td><%= number_to_currency @ivacompleteplan5%></td><td><%= number_to_currency @primaanualcompleteplan5%></td><td><%= number_to_currency @primerrecibocompleteplan5%></td><td><%= number_to_currency @recibossubsequentescompleteplan5%></td></tr>

    <tr></tr>
    <tr></tr>
    <tr></tr>

    <tr><td>&nbsp;</td><td>USD 1,000</td><td>USD 2,000</td><td><%= number_to_currency @titularadvantageplan1%></td><td><%= number_to_currency @conyugueadvantageplan1%></td><td><%= number_to_currency @dependientesadvantageplan1%></td><td> <%= number_to_currency @cobrosadicionalesadvantageplan1 %> </td><td><%= number_to_currency @tarifatotaladvantageplan1%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetaadvantageplan1%></td><td><%= number_to_currency @ivaadvantageplan1%></td><td><%= number_to_currency @primaanualadvantageplan1%></td><td><%= number_to_currency @primerreciboadvantageplan1%></td><td><%= number_to_currency @recibossubsequentesadvantageplan1%></td></tr>

    <tr><td>&nbsp;</td><td>USD 2,000</td><td>USD 3,000</td><td><%= number_to_currency @titularadvantageplan2%></td><td><%= number_to_currency @conyugueadvantageplan2%></td><td><%= number_to_currency @dependientesadvantageplan2%></td><td> <%= number_to_currency @cobrosadicionalesadvantageplan2 %>  </td><td><%= number_to_currency @tarifatotaladvantageplan2%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetaadvantageplan2%></td><td><%= number_to_currency @ivaadvantageplan2%></td><td><%= number_to_currency @primaanualadvantageplan2%></td><td><%= number_to_currency @primerreciboadvantageplan2%></td><td><%= number_to_currency @recibossubsequentesadvantageplan2%></td></tr>

    <tr><td>ADVANTAGE</td><td>USD 5,000</td><td>USD 5,000</td><td><%= number_to_currency @titularadvantageplan3%></td><td><%= number_to_currency @conyugueadvantageplan3%></td><td><%= number_to_currency @dependientesadvantageplan3%></td><td><%= number_to_currency @cobrosadicionalesadvantageplan3 %> </td><td><%= number_to_currency @tarifatotaladvantageplan3%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetaadvantageplan3%></td><td><%= number_to_currency @ivaadvantageplan3%></td><td><%= number_to_currency @primaanualadvantageplan3%></td><td><%= number_to_currency @primerreciboadvantageplan3%></td><td><%= number_to_currency @recibossubsequentesadvantageplan3%></td></tr>

    <tr><td>&nbsp;</td><td>USD 10,000</td><td>USD 10,000</td><td><%= number_to_currency @titularadvantageplan4%></td><td><%= number_to_currency @conyugueadvantageplan4%></td><td><%= number_to_currency @dependientesadvantageplan4%></td><td><%= number_to_currency @cobrosadicionalesadvantageplan4 %> </td><td><%= number_to_currency @tarifatotaladvantageplan4%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetaadvantageplan4%></td><td><%= number_to_currency @ivaadvantageplan4%></td><td><%= number_to_currency @primaanualadvantageplan4%></td><td><%= number_to_currency @primerreciboadvantageplan4%></td><td><%= number_to_currency @recibossubsequentesadvantageplan4%></td></tr>

    <tr><td>&nbsp;</td><td>USD 20,000</td><td>USD 20,000</td><td><%= number_to_currency @titularadvantageplan5%></td><td><%= number_to_currency @conyugueadvantageplan5%></td><td><%= number_to_currency @dependientesadvantageplan5%></td><td><%= number_to_currency @cobrosadicionalesadvantageplan5 %> </td><td><%= number_to_currency @tarifatotaladvantageplan5%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetaadvantageplan5%></td><td><%= number_to_currency @ivaadvantageplan5%></td><td><%= number_to_currency @primaanualadvantageplan5%></td><td><%= number_to_currency @primerreciboadvantageplan5%></td><td><%= number_to_currency @recibossubsequentesadvantageplan5%></td></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>

    <tr><td>&nbsp;</td><td>USD 1,000</td><td>USD 2,000</td><td><%= number_to_currency @titularsecureplan1%></td><td><%= number_to_currency @conyuguesecureplan1%></td><td><%= number_to_currency @dependientessecureplan1%></td><td> <%= number_to_currency @cobrosadicionalessecureplan1 %> </td><td><%= number_to_currency @tarifatotalsecureplan1%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetasecureplan1%></td><td><%= number_to_currency @ivasecureplan1%></td><td><%= number_to_currency @primaanualsecureplan1%></td><td><%= number_to_currency @primerrecibosecureplan1%></td><td><%= number_to_currency @recibossubsequentessecureplan1%></td></tr>

    <tr><td>&nbsp;</td><td>USD 2,000</td><td>USD 3,000</td><td><%= number_to_currency @titularsecureplan2%></td><td><%= number_to_currency @conyuguesecureplan2%></td><td><%= number_to_currency @dependientessecureplan2%></td><td> <%= number_to_currency @cobrosadicionalessecureplan2 %>  </td><td><%= number_to_currency @tarifatotalsecureplan2%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetasecureplan2%></td><td><%= number_to_currency @ivasecureplan2%></td><td><%= number_to_currency @primaanualsecureplan2%></td><td><%= number_to_currency @primerrecibosecureplan2%></td><td><%= number_to_currency @recibossubsequentessecureplan2%></td></tr>

    <tr><td>SECURE</td><td>USD 5,000</td><td>USD 5,000</td><td><%= number_to_currency @titularsecureplan3%></td><td><%= number_to_currency @conyuguesecureplan3%></td><td><%= number_to_currency @dependientessecureplan3%></td><td><%= number_to_currency @cobrosadicionalessecureplan3 %> </td><td><%= number_to_currency @tarifatotalsecureplan3%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetasecureplan3%></td><td><%= number_to_currency @ivasecureplan3%></td><td><%= number_to_currency @primaanualsecureplan3%></td><td><%= number_to_currency @primerrecibosecureplan3%></td><td><%= number_to_currency @recibossubsequentessecureplan3%></td></tr>

    <tr><td>&nbsp;</td><td>USD 10,000</td><td>USD 10,000</td><td><%= number_to_currency @titularsecureplan4%></td><td><%= number_to_currency @conyuguesecureplan4%></td><td><%= number_to_currency @dependientessecureplan4%></td><td><%= number_to_currency @cobrosadicionalessecureplan4 %> </td><td><%= number_to_currency @tarifatotalsecureplan4%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetasecureplan4%></td><td><%= number_to_currency @ivasecureplan4%></td><td><%= number_to_currency @primaanualsecureplan4%></td><td><%= number_to_currency @primerrecibosecureplan4%></td><td><%= number_to_currency @recibossubsequentessecureplan4%></td></tr>

    <tr><td>&nbsp;</td><td>USD 20,000</td><td>USD 20,000</td><td><%= number_to_currency @titularsecureplan5%></td><td><%= number_to_currency @conyuguesecureplan5%></td><td><%= number_to_currency @dependientessecureplan5%></td><td><%= number_to_currency @cobrosadicionalessecureplan5 %> </td><td><%= number_to_currency @tarifatotalsecureplan5%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetasecureplan5%></td><td><%= number_to_currency @ivasecureplan5%></td><td><%= number_to_currency @primaanualsecureplan5%></td><td><%= number_to_currency @primerrecibosecureplan5%></td><td><%= number_to_currency @recibossubsequentessecureplan5%></td></tr>

    <tr></tr>
    <tr></tr>
    <tr></tr>

    <tr><td>&nbsp;</td><td>USD 1,000</td><td>USD 2,000</td><td><%= number_to_currency @titularessentialplan1%></td><td><%= number_to_currency @conyugueessentialplan1%></td><td><%= number_to_currency @dependientesessentialplan1%></td><td> <%= number_to_currency @cobrosadicionalesessentialplan1 %> </td><td><%= number_to_currency @tarifatotalessentialplan1%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetaessentialplan1%></td><td><%= number_to_currency @ivaessentialplan1%></td><td><%= number_to_currency @primaanualessentialplan1%></td><td><%= number_to_currency @primerreciboessentialplan1%></td><td><%= number_to_currency @recibossubsequentesessentialplan1%></td></tr>

    <tr><td>&nbsp;</td><td>USD 2,000</td><td>USD 3,000</td><td><%= number_to_currency @titularessentialplan2%></td><td><%= number_to_currency @conyugueessentialplan2%></td><td><%= number_to_currency @dependientesessentialplan2%></td><td> <%= number_to_currency @cobrosadicionalesessentialplan2 %>  </td><td><%= number_to_currency @tarifatotalessentialplan2%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetaessentialplan2%></td><td><%= number_to_currency @ivaessentialplan2%></td><td><%= number_to_currency @primaanualessentialplan2%></td><td><%= number_to_currency @primerreciboessentialplan2%></td><td><%= number_to_currency @recibossubsequentesessentialplan2%></td></tr>

    <tr><td>ESSENTIAL</td><td>USD 5,000</td><td>USD 5,000</td><td><%= number_to_currency @titularessentialplan3%></td><td><%= number_to_currency @conyugueessentialplan3%></td><td><%= number_to_currency @dependientesessentialplan3%></td><td><%= number_to_currency @cobrosadicionalesessentialplan3 %> </td><td><%= number_to_currency @tarifatotalessentialplan3%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetaessentialplan3%></td><td><%= number_to_currency @ivaessentialplan3%></td><td><%= number_to_currency @primaanualessentialplan3%></td><td><%= number_to_currency @primerreciboessentialplan3%></td><td><%= number_to_currency @recibossubsequentesessentialplan3%></td></tr>

    <tr><td>&nbsp;</td><td>USD 10,000</td><td>USD 10,000</td><td><%= number_to_currency @titularessentialplan4%></td><td><%= number_to_currency @conyugueessentialplan4%></td><td><%= number_to_currency @dependientesessentialplan4%></td><td><%= number_to_currency @cobrosadicionalesessentialplan4 %> </td><td><%= number_to_currency @tarifatotalessentialplan4%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetaessentialplan4%></td><td><%= number_to_currency @ivaessentialplan4%></td><td><%= number_to_currency @primaanualessentialplan4%></td><td><%= number_to_currency @primerreciboessentialplan4%></td><td><%= number_to_currency @recibossubsequentesessentialplan4%></td></tr>

    <tr><td>&nbsp;</td><td>USD 20,000</td><td>USD 20,000</td><td><%= number_to_currency @titularessentialplan5%></td><td><%= number_to_currency @conyugueessentialplan5%></td><td><%= number_to_currency @dependientesessentialplan5%></td><td><%= number_to_currency @cobrosadicionalesessentialplan5 %> </td><td><%= number_to_currency @tarifatotalessentialplan5%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetaessentialplan5%></td><td><%= number_to_currency @ivaessentialplan5%></td><td><%= number_to_currency @primaanualessentialplan5%></td><td><%= number_to_currency @primerreciboessentialplan5%></td><td><%= number_to_currency @recibossubsequentesessentialplan5%></td></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>

    <tr><td>&nbsp;</td><td>USD 1,000</td><td>USD 2,000</td><td><%= number_to_currency @titulartotalplan1%></td><td><%= number_to_currency @conyuguetotalplan1%></td><td><%= number_to_currency @dependientestotalplan1%></td><td> <%= number_to_currency @cobrosadicionalestotalplan1 %> </td><td><%= number_to_currency @tarifatotaltotalplan1%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetatotalplan1%></td><td><%= number_to_currency @ivatotalplan1%></td><td><%= number_to_currency @primaanualtotalplan1%></td><td><%= number_to_currency @primerrecibototalplan1%></td><td><%= number_to_currency @recibossubsequentestotalplan1%></td></tr>

    <tr><td>&nbsp;</td><td>USD 2,000</td><td>USD 3,000</td><td><%= number_to_currency @titulartotalplan2%></td><td><%= number_to_currency @conyuguetotalplan2%></td><td><%= number_to_currency @dependientestotalplan2%></td><td> <%= number_to_currency @cobrosadicionalestotalplan2 %>  </td><td><%= number_to_currency @tarifatotaltotalplan2%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetatotalplan2%></td><td><%= number_to_currency @ivatotalplan2%></td><td><%= number_to_currency @primaanualtotalplan2%></td><td><%= number_to_currency @primerrecibototalplan2%></td><td><%= number_to_currency @recibossubsequentestotalplan2%></td></tr>

    <tr><td>TOTAL</td><td>USD 5,000</td><td>USD 5,000</td><td><%= number_to_currency @titulartotalplan3%></td><td><%= number_to_currency @conyuguetotalplan3%></td><td><%= number_to_currency @dependientestotalplan3%></td><td><%= number_to_currency @cobrosadicionalestotalplan3 %> </td><td><%= number_to_currency @tarifatotaltotalplan3%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetatotalplan3%></td><td><%= number_to_currency @ivatotalplan3%></td><td><%= number_to_currency @primaanualtotalplan3%></td><td><%= number_to_currency @primerrecibototalplan3%></td><td><%= number_to_currency @recibossubsequentestotalplan3%></td></tr>

    <tr><td>&nbsp;</td><td>USD 10,000</td><td>USD 10,000</td><td><%= number_to_currency @titulartotalplan4%></td><td><%= number_to_currency @conyuguetotalplan4%></td><td><%= number_to_currency @dependientestotalplan4%></td><td><%= number_to_currency @cobrosadicionalestotalplan4 %> </td><td><%= number_to_currency @tarifatotaltotalplan4%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetatotalplan4%></td><td><%= number_to_currency @ivatotalplan4%></td><td><%= number_to_currency @primaanualtotalplan4%></td><td><%= number_to_currency @primerrecibototalplan4%></td><td><%= number_to_currency @recibossubsequentestotalplan4%></td></tr>

    <tr><td>&nbsp;</td><td>USD 20,000</td><td>USD 20,000</td><td><%= number_to_currency @titulartotalplan5%></td><td><%= number_to_currency @conyuguetotalplan5%></td><td><%= number_to_currency @dependientestotalplan5%></td><td><%= number_to_currency @cobrosadicionalestotalplan5 %> </td><td><%= number_to_currency @tarifatotaltotalplan5%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @derechopoliza%></td><td><%= number_to_currency @primanetatotalplan5%></td><td><%= number_to_currency @ivatotalplan5%></td><td><%= number_to_currency @primaanualtotalplan5%></td><td><%= number_to_currency @primerrecibototalplan5%></td><td><%= number_to_currency @recibossubsequentestotalplan5%></td></tr>
    
    

    
</table>


<p>Los costos presentados son anuales y en pesos mexicanos.</p>
<p>Se aplicarán los recargos por pagos fraccionados de acuerdo a la forma de pago elegida.</p>
<p>Esta cotización tiene una vigencia de 30 días naturales a partir de la fecha de elaboración.</p>
<p>La cobertura de Transplante de órganos está incluida en los planes Diamond y Complete como cobertura básica.</p>
<p>La cobertura de Complicaciones de Maternidad no se ofrece para los planes Diamond y Complete en opciones de deducible 1,000/2,000  y 2,000/3,000</p>

<p>La información y/o resultados aquí mostrados NO garantizan la aceptación de la póliza, sus coberturas y primas por parte de la Compañía.</p>
<p>Éste cotizador es válido del 1 de Enero de 2014 al 31 de Diciembre de 2014.</p>

<p><strong>Este documento solo constituye una cotización de seguro, por lo tanto, no representa garantía alguna de que la misma será aceptada por la compañía, ni de que en caso de aceptarse, la aceptación concuerde totalmente con los términos de la misma, ya que es tentativa y sujeta a la evaluación correspondiente por parte de nuestros suscriptores. Además esta condicionada a la presentación de los requisitos de suscripción indicados en su oportunidad, así como al resultado de las evaluaciones necesarias. La Compañía se reserva el derecho de aceptación o declinación del riesgo propuesto.  </strong></p>
<br/>
<br/>