<div class="section1">
  <div class="father"></div>
  <h1 class="headersec1">SALE DEMASIADO CARO NO TENER SEGURO DE GASTOS MÉDICOS</h1>
</div>

<div class="section2">
  <div class="travelers"></div>
  <h1 class="headersec2">SALE AÚN MÁS CARO NO TENER UN SEGURO QUE SEA <span class='blue'>EL ADECUADO</span>  PARA TU ESTILO DE VIDA</h1>
  <h2 class="subheadersec2">Y NO TODOS LOS AGENTES TIENEN EL SEGURO QUE TÚ NECESITAS</h2>
  <p class="psec2">Todos somos diferentes, por eso nosotros personalizamos tu seguro respecto a tus necesidades</p>
</div>


<div class="section3">
  <div class="elders"></div>
  <h1 class="headersec3">OBTENER UN SEGURO ES UN PROCESO QUE HA CAMBIADO POCO EN 50 AÑOS. ES COMPLICADO, INCÓMODO Y LLENO DE PAPELEO.</h1>
  <p class="psec3">Olvídate de hacer cita, de las preguntas incómodas y de las pilas de papeles y contratos.</p>
</div>

<div class="headliner">
  <h1 class="headlinertext"><span class='blue'>ASEGURAR TU SALUD</span> Y LA DE LOS TUYOS NO TIENE QUE SER COMPLICADO</h1>
</div>

<div class="section4">
  <div class="bike"></div>
  <h1 class="headersec4">POR ESO NOSOTROS TENEMOS EL SEGURO QUE NECESITAS, E HICIMOS EL PROCESO FÁCIL, INTELIGENTE Y SEGURO.</h1>
</div>
  
<div class="headliner2">
  <h1 class="headlinertext2">¿LISTO PARA ASEGURAR TU BIENESTAR?</h1>
</div>
<div class="form-main">


<%= simple_form_for @layout  do |f| %>
    <%=f.input :nombre, label: 'Nombre', :required => true %>
    <%=f.input :celular, label: 'Celular', :required => true %>
    <%=f.input :email, label: 'Email', :required => true %>
    <%= f.input :estadoderesidencia, label: 'Estado de Residencia', :collection => ["Aguascalientes",
"Baja California (Ensenada)",
"Baja California (Mexicalli)",
"Baja California (Playas de Rosarito)",
"Baja California (Rodolfo Sánchez T.  (Maneadero))",
"Baja California (San Felipe)",
"Baja California (Tecate)",
"Baja California (Tijuana)",
"Baja California (OTRAS CIUDADES)",
"Baja California Sur",
"Campeche",
"Chiapas",
"Chihuahua (Juárez)",
"Chihuahua (Manuel Ojinaga)",
"Chihuahua (OTRAS CIUDADES)",
"Coahuila (Ciudad Acuña)",
"Coahuila (Matamoros)",
"Coahuila (Piedras Negras)",
"Coahuila (OTRAS CIUDADES)",
"Colima",
"Distrito Federal(y área metropolitana)",
"Durango",
"Estado de México(excepto área metropolitana)",
"Guanajuato",
"Guerrero(Acapulco)",
"Guerrero(Zihuatanejo)",
"Guerrero(OTRAS CIUDADES)",
"Hidalgo",
"Jalisco",
"Michoacán",
"Morelos",
"Nayarit",
"Nuevo León (Anáhuac)",
"Nuevo León (OTRAS CIUDADES)",
"Oaxaca",
"Puebla",
"Querétaro",
"Quintana Roo",
"San Luis Potosí",
"Sinaloa",
"Sonora (Agua Prieta)",
"Sonora (Caborca)",
"Sonora (Ciudad de Cananea)",
"Sonora (Nogales)",
"Sonora (Puerto Peñasco)",
"Sonora (San Luis Río Colorado)",
"Sonora (Sonoita)",
"Sonora (OTRAS CIUDADES)",
"Tabasco",
"Tamaulipas (Ciudad Camargo)",
"Tamaulipas (Ciudad Gustavo Díaz Ordaz)",
"Tamaulipas (Ciudad Miguel Alemán)",
"Tamaulipas (Ciudad Río Bravo)",
"Tamaulipas (Nueva Ciudad Guerrero)",
"Tamaulipas (Nuevo Laredo)",
"Tamaulipas (Reynosa)",
"Tamaulipas (Valle Hermoso)",
"Tamaulipas (OTRAS CIUDADES)",
"Tlaxcala",
"Veracruz",
"Yucatán",
"Zacatecas"], :required => true%>


    <%= f.input :edadetitular, label: 'Edad del titular', :collection =>(18..99), :required => true%> 
    <%=f.input :edaddeconyugue, label: 'Edad de conyugue', :collection =>(18..99)%>
    <%=f.input :numdehijosconedadde24ymenores, label: 'Numero de hijos con edad de 24 y menores', :collection =>(0..8)%> 
    <%=f.input :formadepago, label: 'Forma de Pago', :collection =>["Anual","Semestral","Trimestral"], :required => true%> 
    <%=f.input :edaddehijo1mayora24, label: 'Edad de hijo 1 mayor a 24', :collection =>(25..99)%> 
    <%=f.input :edaddehijo2mayora24, label: 'Edad de hijo 2 mayor a 24', :collection =>(25..99)%> 
    <%=f.input :edaddehijo3mayora24, label: 'Edad de hijo 3 mayor a 24', :collection =>(25..99)%> 
    <%=f.input :edaddehijo4mayora24, label: 'Edad de hijo 4 mayor a 24', :collection =>(25..99)%> 
    <%=f.input :edaddelpadredeltitular, label: 'Edad del padre del titular', :collection =>(25..99)%> 
    <%=f.input :edaddelamadredeltitular, label: 'Edad de la madre del titular', :collection =>(25..99)%> 
    <%=f.input :edaddelasuegradeltitular, label: 'Edad de la suegra del titular', :collection =>(25..99)%> 
    <%=f.input :edaddelasuegrodeltitular , label: 'Edad del suegro del titular', :collection =>(25..99)%>
    <%=f.input :viajes, label: '¿Cuántos viajes fuera de México realiza al año?', :collection => ['0','1','2','3', '4 o más'], :required => true%>
    <%=f.input :cashemergencia, label: 'En caso de una emergencia médica, ¿con cuánto dinero dispone al momento del incidente? ', :collection => ['$10,000 - $30,000 MXN', '$50,000 - $75,000 MXN', '$100,000 MXN o más' ], :required => true %>

	
	<%= f.button :submit, "Enviar" %>
<% end %>
</div>


