<h1>COTIZACIÓN DE SEGURO DE GASTOS MÉDICOS INTERNACIONAL INDIVIDUAL / FAMILIAR	</h1>
<p>Solicitante: <%=@layout.nombre%></p>
<p>Edad del Solicitante: <%=@layout.edadetitular%></p>
<p>No. dependientes: </p>
<p>Edad del Cónyugue: <%=@layout.edaddeconyugue%></p>
<p>Edad de la Madre del  Titular: <%=@layout.edaddelamadredeltitular%></p>
<p>Edad de la Suegra del  Titular: <%=@layout.edaddelasuegradeltitular%></p>
<p>Edad del Padre del  Titular: <%=@layout.edaddelpadredeltitular%></p>
<p>Edad del Suegro del  Titular: <%=@layout.edaddelasuegrodeltitular%></p>
<p>No. Hijos MENORES de 24* años: <%=@layout.numdehijosconedadde24ymenores%></p>
<p> Edad del Hijo 1 MAYOR de 24 años: <%=@layout.edaddehijo1mayora24%></p>
<p> Edad del Hijo 2 MAYOR de 24 años: <%=@layout.edaddehijo2mayora24%></p>
<p> Edad del Hijo 3 MAYOR de 24 años: <%=@layout.edaddehijo3mayora24%></p>
<p> Edad del Hijo 4 MAYOR de 24 años: <%=@layout.edaddehijo4mayora24%></p>
<p> Estado de Residencia: <%=@layout.estadoderesidencia%></p>
<p>Producto: <%=@plan.nombre %></p>
<p>Forma de Pago: <%=@layout.formadepago %></p>
<p>Zona de Emisión: <%=@zona %> </p>

<table>
    <tr><th>Deducible</th><th>Primer Pago(1,2)</th><th>Subsecuentes(2)</th><th>Total al cobro</th></tr>
    <tr><td>USD 1,000</td><td><%= number_to_currency @calculo_deducible1%></td><td><%=number_to_currency @subsecuentes1%></td><td><%= number_to_currency @calculo_total1%></td></tr>
    <tr><td>USD 2,000</td><td><%= number_to_currency @calculo_deducible2%></td><td><%=number_to_currency @subsecuentes2%></td><td><%= number_to_currency @calculo_total2%></td></tr>
    <tr><td>USD 5,000</td><td><%= number_to_currency @calculo_deducible3%></td><td><%=number_to_currency @subsecuentes3%></td><td><%= number_to_currency @calculo_total3%></td></tr>
    <tr><td>USD 10,000</td><td><%= number_to_currency @calculo_deducible4%></td><td><%=number_to_currency @subsecuentes4%></td><td><%= number_to_currency @calculo_total4%></td></tr>
    <tr><td>USD 20,000</td><td><%= number_to_currency @calculo_deducible5%></td><td><%=number_to_currency @subsecuentes5%></td><td><%= number_to_currency @calculo_total5%></td></tr>
</table>

<p>(*) Conforme a Condiciones Generales de Póliza.</p>
<p>(1) Nota: Ya incluye Derecho de Póliza e IVA.</p>
<p>(2) Nota: En su caso se incluye Recargo Pago Fraccionado.</p>

<h2 align="center">***<%= @plan.nombre %>***</h2>
<div class="box">
	<p>Cobertura Máxima Anual por Asegurado: <%= @plan.cobertura_maxima_anual_asegurado%></p>
	<p>Área de Cobertura: <%= @plan.area_cobertura%></p>
	<p>Deducible: <%= @plan.deducible%></p>
	<h3 align="center">BENEFICIOS EXCLUSIVOS DE PAN-AMERICAN</h3>
	<p>Reducción del deducible al 50%: <%= @plan.reduc_deducible%></p>
	<p>Eliminación de deducible en caso de accidente: <%= @plan.elim_deducible%></p>
	<h3 align="center">PRINCIPALES BENEFICIOS</h3>
	<p>Hospitalización, Habitación, alojamiento y Unidad de Cuidados Intensivos: <%= @plan.hospitalizacion%></p>
	<p>Honorarios Médicos: <%= @plan.honorarios_medicos %></p>
	<p>Estudios de laboratorio, patología y diagnóstico por imágenes: <%= @plan.estudios_laboratorio%></p>
	<p>Acompañante de un asegurado hospitalizado (por noche): <%= @plan.acompanante_noche%></p>
	<p>Maternidad normal y cuidados del Recién Nacido (Por evento). Sólo cubiertas en Planes I y II: <%= @plan.maternidad%></p>
	<p>Complicaciones del embarazo y cuidados del recién nacido enfermo (De por vida). Sólo cubiertas en Planes I y II:	<%= @plan.complicaciones_embarazo%></p>
	<p>Trasplante de órganos: <%= @plan.trasplante_organos%></p>
	<p>Medicamentos ambulatorios recetados: <%= @plan.medicamentos%></p>
	<p>Ambulancia Aérea y Terrestre: <%= @plan.ambulancia %></p>
	<p>Exámenes médicos sin patología previa: <%= @plan.examenes_sin_patologia%></p>
	<p>Terapias complementarias. Quiropráctico, Psiquiatra o Psicólogo. (20 sesiones por año): <%= @plan.terapias%></p>
	<p>Tratamientos de podología: <%= @plan.podologia%></p>
	<p>Extensión de las coberturas: <%= @plan.extension_coberturas%></p>
	<br/>
</div>
<p>* Este cuadro muestra solamente un resumen de beneficios, para mayor detalle sobre las coberturas del producto por favor consulte las Condiciones Generales.</p>
<p>** Esta cotización es de carácter informativo y está sujeta a cambio a discreción de la compañía.</p>
<p>*** Cotizaciones para las personas de 76 años en adelante solo aplica para renovaciones.</p>
<p>**** Las primas están expresadas en moneda nacional y los beneficios así como deducibles en Dólares Americanos.</p>

<p><strong>Este documento solo constituye una cotización de seguro, por lo tanto, no representa garantía alguna de que la misma será aceptada por la compañía, ni de que en caso de aceptarse, la aceptación concuerde totalmente con los términos de la misma, ya que es tentativa y sujeta a la evaluación correspondiente por parte de nuestros suscriptores. Además esta condicionada a la presentación de los requisitos de suscripción indicados en su oportunidad, así como al resultado de las evaluaciones necesarias. La Compañía se reserva el derecho de aceptación o declinación del riesgo propuesto.  </strong></p>
<br/>
<br/>