<!-- Google Code for Veseguro | Individual Mexican Buyer Conversions Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 965861289;
var google_conversion_language = "es";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "sgV5CJ7WolcQqb_HzAM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/965861289/?label=sgV5CJ7WolcQqb_HzAM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<style type="text/css">
	body {
	background-color: #ecf0f1;
	border-color: #bdc3c7;
	width: 100%;
	
}


.ph3 {
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-bottom: 43px;
  font-weight: 300;
  
}
.pthankyou {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 29.6px;
  text-align: center;

}
</style>

<div class="page-wrapper"><section class="bg-clouds">
<div class="thankyouicon"></div>

                    <h3 class="ph3">La información fue procesada exitosamente</h3>

                <p class="pthankyou">Haz click en la cotización a checar
                </p>
<div style="text-align:center;">
  <%= link_to 'Checar cotización PALIG', palig_path %><br>
  <%= link_to 'Checar cotización BUPA', bupa_path %>
  
</div>
