// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body{
  height: 100%;
  width: 100%;
}

.section1 {
	
	width: 100%;
}

.father{
	
	background-image: url("father.jpg");/* <=========REPLACE BACKGROUND HERE */
	background-size: contain;
    background-repeat: no-repeat;
    width: 101.7%;
    height: 0;
    padding-top: 66.64%;
	margin: -10px;
	margin-bottom: -40%

}


.headersec1{
	position: relative;
	top: -400%;
	left: 53%;
	width: 43%;
	margin-bottom: 25%;
	font-size: 2.5vw;/*<============CHANGE ITS font size here */
  	font-weight: normal;
  	color: #ffffff;/*<============CHANGE ITS font color here */
  	
 	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.section2{
	position:relative;
	margin-top: 1%;
	width: 100%;
	
}
.travelers{
	background-image: url("travelers.jpg");
	background-size: contain;
    background-repeat: no-repeat;
    width: 101.7%;
    height: 0;
    padding-top: 66.64%;
	margin: -10px;
}


.headersec2{
	position: relative;
	margin-top: -60%;
	left: 3%;
	width: 60.5%;
	font-size: 2.3vw;
  	font-weight: normal;
  	
  	color: #494949;
 	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.subheadersec2{
	position: relative;
	margin-top: 22%;
	left: 45%;
	width: 50%;
	font-size: 2.8vw;
  	font-weight: normal;
  	padding-right: 20px;
  	color: #ffffff;

 	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.psec2{
	position: relative;
	margin-top: 5%;
	left: 45%;
	width: 53%;
	font-size: 2.0vw;
  	font-weight: normal;
  	color: #ffffff;

 	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.blue{
	color: #1e5a8b;
}

.section3{
	position:relative;
	margin-top: 3%;
	width: 100%;
}

.elders{
	background-image: url("elders.jpg");
	background-size: contain;
    background-repeat: no-repeat;
    width: 101.7%;
    height: 0;
    padding-top: 66.64%;
	margin: -10px;
}
.headersec3{
	position: relative;
	margin-top: -60%;
	left: 3%;
	width: 50%;
	font-size: 2.5vw;
  	font-weight: normal;
  	color: #494949;
 	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.psec3{
	position: relative;
	margin-top: 0%;
	left: 3%;
	width: 49%;
	font-size: 2.0vw;
  	font-weight: normal;
  	color: #494949;
 	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.headliner{
	position: relative;
	margin-top: 33%;
	text-align: center;
	margin-left: 3%;
}
.headlinertext{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3.0vw;
	color: #494949;
}

.section4{
	position:relative;
	margin-top: 3%;
	width: 100%;
}

.bike{
	background-image: url("bike.jpg");
	background-size: contain;
    background-repeat: no-repeat;
    width: 101.7%;
    height: 0;
    padding-top: 66.64%;
	margin: -10px;
}
.headersec4{
	position: relative;
	margin-top: -45%;
	left: 10%;
	width: 85%;
	font-size: 2.8vw;
  	font-weight: normal;
  	color: #ffffff;
  	text-align: center;
 	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.headliner2{
	position: relative;
	margin-top: 33%;
	text-align: center;
	margin-left: 3%;
}
.headlinertext2{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2.8vw;
	text-align: center;
	color: #494949;
}




form { 
	margin-top: 3%;
	width: 60%;
	margin-bottom: 10%;
	margin-left: 25%;
}

form label {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.9vw;
	line-height: 3.5vw;
	margin-right: 3%;
	width: 35%;
	 display: inline;
	 color: #494949;
}

.box { border-style: solid;
  border-width: 1px;}


form input {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
    text-align: center;
    
    margin: 0 0 0;
    height: 3.6vw;
    width: 50%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 2.0vw;
    color: #494949;
  }
  form select {
  	width: 30%;
  }

 form .button {
   width: 20%;
   text-align: left;
  height: 4.0vw;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
  background: #ed5d33;
  color: #fff;
 }
