<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cobertura_maxima_anual_asegurado %><br />
    <%= f.text_field :cobertura_maxima_anual_asegurado %>
  </div>
  <div class="field">
    <%= f.label :area_cobertura %><br />
    <%= f.text_field :area_cobertura %>
  </div>
  <div class="field">
    <%= f.label :deducible %><br />
    <%= f.text_field :deducible %>
  </div>
  <div class="field">
    <%= f.label :reduc_deducible %><br />
    <%= f.text_field :reduc_deducible %>
  </div>
  <div class="field">
    <%= f.label :elim_deducible %><br />
    <%= f.text_field :elim_deducible %>
  </div>
  <div class="field">
    <%= f.label :hospitalizacion %><br />
    <%= f.text_field :hospitalizacion %>
  </div>
  <div class="field">
    <%= f.label :honorarios_medicos %><br />
    <%= f.text_field :honorarios_medicos %>
  </div>
  <div class="field">
    <%= f.label :estudios_laboratorio %><br />
    <%= f.text_field :estudios_laboratorio %>
  </div>
  <div class="field">
    <%= f.label :acompanante_noche %><br />
    <%= f.text_field :acompanante_noche %>
  </div>
  <div class="field">
    <%= f.label :maternidad %><br />
    <%= f.text_field :maternidad %>
  </div>
  <div class="field">
    <%= f.label :complicaciones_embarazo %><br />
    <%= f.text_field :complicaciones_embarazo %>
  </div>
  <div class="field">
    <%= f.label :trasplante_organos %><br />
    <%= f.text_field :trasplante_organos %>
  </div>
  <div class="field">
    <%= f.label :medicamentos %><br />
    <%= f.text_field :medicamentos %>
  </div>
  <div class="field">
    <%= f.label :ambulancia %><br />
    <%= f.text_field :ambulancia %>
  </div>
  <div class="field">
    <%= f.label :examenes_sin_patologia %><br />
    <%= f.text_field :examenes_sin_patologia %>
  </div>
  <div class="field">
    <%= f.label :terapias %><br />
    <%= f.text_field :terapias %>
  </div>
  <div class="field">
    <%= f.label :podologia %><br />
    <%= f.text_field :podologia %>
  </div>
  <div class="field">
    <%= f.label :extension_coberturas %><br />
    <%= f.text_field :extension_coberturas %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
