<h1>Listing plans</h1>

<table>
  <tr>
    <th>Cobertura maxima anual asegurado</th>
    <th>Area cobertura</th>
    <th>Deducible</th>
    <th>Reduc deducible</th>
    <th>Elim deducible</th>
    <th>Hospitalizacion</th>
    <th>Honorarios medicos</th>
    <th>Estudios laboratorio</th>
    <th>Acompanante noche</th>
    <th>Maternidad</th>
    <th>Complicaciones embarazo</th>
    <th>Trasplante organos</th>
    <th>Medicamentos</th>
    <th>Ambulancia</th>
    <th>Examenes sin patologia</th>
    <th>Terapias</th>
    <th>Podologia</th>
    <th>Extension coberturas</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plans.each do |plan| %>
  <tr>
    <td><%= plan.cobertura_maxima_anual_asegurado %></td>
    <td><%= plan.area_cobertura %></td>
    <td><%= plan.deducible %></td>
    <td><%= plan.reduc_deducible %></td>
    <td><%= plan.elim_deducible %></td>
    <td><%= plan.hospitalizacion %></td>
    <td><%= plan.honorarios_medicos %></td>
    <td><%= plan.estudios_laboratorio %></td>
    <td><%= plan.acompanante_noche %></td>
    <td><%= plan.maternidad %></td>
    <td><%= plan.complicaciones_embarazo %></td>
    <td><%= plan.trasplante_organos %></td>
    <td><%= plan.medicamentos %></td>
    <td><%= plan.ambulancia %></td>
    <td><%= plan.examenes_sin_patologia %></td>
    <td><%= plan.terapias %></td>
    <td><%= plan.podologia %></td>
    <td><%= plan.extension_coberturas %></td>
    <td><%= link_to 'Show', plan %></td>
    <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
    <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plan', new_plan_path %>
