<p id="notice"><%= notice %></p>

<p>
  <b>Cobertura maxima anual asegurado:</b>
  <%= @plan.cobertura_maxima_anual_asegurado %>
</p>

<p>
  <b>Area cobertura:</b>
  <%= @plan.area_cobertura %>
</p>

<p>
  <b>Deducible:</b>
  <%= @plan.deducible %>
</p>

<p>
  <b>Reduc deducible:</b>
  <%= @plan.reduc_deducible %>
</p>

<p>
  <b>Elim deducible:</b>
  <%= @plan.elim_deducible %>
</p>

<p>
  <b>Hospitalizacion:</b>
  <%= @plan.hospitalizacion %>
</p>

<p>
  <b>Honorarios medicos:</b>
  <%= @plan.honorarios_medicos %>
</p>

<p>
  <b>Estudios laboratorio:</b>
  <%= @plan.estudios_laboratorio %>
</p>

<p>
  <b>Acompanante noche:</b>
  <%= @plan.acompanante_noche %>
</p>

<p>
  <b>Maternidad:</b>
  <%= @plan.maternidad %>
</p>

<p>
  <b>Complicaciones embarazo:</b>
  <%= @plan.complicaciones_embarazo %>
</p>

<p>
  <b>Trasplante organos:</b>
  <%= @plan.trasplante_organos %>
</p>

<p>
  <b>Medicamentos:</b>
  <%= @plan.medicamentos %>
</p>

<p>
  <b>Ambulancia:</b>
  <%= @plan.ambulancia %>
</p>

<p>
  <b>Examenes sin patologia:</b>
  <%= @plan.examenes_sin_patologia %>
</p>

<p>
  <b>Terapias:</b>
  <%= @plan.terapias %>
</p>

<p>
  <b>Podologia:</b>
  <%= @plan.podologia %>
</p>

<p>
  <b>Extension coberturas:</b>
  <%= @plan.extension_coberturas %>
</p>


<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
