<!DOCTYPE html>
<html>
<head>
  <title>VESEGURO</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
